.uk-navbar-item {
    min-height: 40px;
}

/* custom colours */
.primary-colour-text {
    color: #f66539
}
.primary-colour-background {
    color: #F6F9F1;
    background-color: #f66539;
}
.secondary-colour-background {
    background-color: #F6F9F1;
}

/* custom text size */
.medium-text {
    font-size: 18px;
    line-height: 1.8;
}

/* reduce text line-height */
.reduce-line-height {
    line-height: 0;
}

/* custom avatar icons */
.avatar {
    height: 40px;
    width: 40px;
    object-fit: fill;
}

/* custom like button active state */
.active-button {
    color: #F6F9F1;
    background-color: #f66539;
}
.active-button:hover {
    color: #F6F9F1;
    background-color: #f66539;
}