.uk-navbar-item {
    min-height: 40px;
}

/* custom colours */
.primary-colour-text {
    color: #f3522a
}
.primary-colour-background {
    color: #F6F9F1;
    background-color: #f3522a;
}
.secondary-colour-background {
    background-color: #F6F9F1;
}

/* custom text size */
.medium-text {
    font-size: 18px;
    line-height: 1.8;
}

/* custom avatar icons */
.avatar {
    height: 40px;
    width: 40px;
    object-fit: fill;
}